@import "tailwindcss";

/* Leaflet map container fix */
.leaflet-container {
  width: 100%;
  height: 100%;
}

/* Pixelated rendering for Map Tiles to keep text sharp when zooming in */
.pixelated-tiles .leaflet-tile-container img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}